aside{
	min-width: 130px;
	background-color: white;
	
	margin: 50px;
		
	display: flex;
	flex-direction: column;
	
	height: inherit;
	
	min-height: 50vh;
	border: 2px solid lightgrey;
}
aside {
	text-align: center;
	padding: 1%;
}
aside a{
	text-decoration: none;
	color: black;
	
	font-size: 110%;
	font-weight: bold;
	
	margin-bottom: 10%;
	
}
aside a:hover {
	color: grey;
}