<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="userMap" type="com.spring.innoblems.dto.UserDTO">
	  <result column="USR_SEQ" property="usrSeq"/>
	  <result column="USR_ID" property="usrId"/>
	  <result column="USR_PW" property="usrPw"/>
	  <result column="USR_NM" property="usrNm"/>
	  <result column="USR_BDT" property="usrBDT"/>
	  <result column="GD_CD" property="gdCD"/>
	  <result column="USR_IN_DT" property="usrINDT"/>
	  <result column="ST_CD" property="stCD"/>
	  <result column="RA_CD" property="raCD"/>
	  <result column="GR_CD" property="grCD"/>
	  <result column="DV_CD" property="dvCD"/>
	  <result column="USR_IMG" property="usrImg"/>
	  <result column="USR_PN" property="usrPn"/>
	  <result column="USR_EM" property="usrEm"/>
	  <result column="USR_AD" property="usrAd"/>
	  <result column="SKILLS" property="skills"/>
	</resultMap>
	
	<select id="getUserList" parameterType="java.util.HashMap" resultMap="userMap">
		<if test="userDTO.skills != ''">
	    	SELECT d.*
			FROM (
			        SELECT a.USR_SEQ
					FROM USER_INFO a
			        RIGHT OUTER JOIN (SELECT USR_SEQ
			            , LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
			        FROM 
			        (
			            SELECT *
			            FROM USER_SKILL_TABLE
			            WHERE SK_CD IN <foreach item="item" collection="skills" open="(" separator="," close=")"> #{item} </foreach>
			        )
			        GROUP BY USR_SEQ) b
			        ON a.USR_SEQ = b.USR_SEQ
			WHERE b.SKILLS = #{userDTO.skills}
			) c
			
			LEFT OUTER JOIN 
			
			(
        </if>
		SELECT a.*, b.SKILLS
		FROM USER_INFO a
		LEFT OUTER JOIN (SELECT USR_SEQ
		, LISTAGG(SK_CD, ',') WITHIN GROUP(ORDER BY SK_CD) AS SKILLS
        FROM 
        (
            SELECT *
            FROM USER_SKILL_TABLE
        )
		GROUP BY USR_SEQ) b
		ON a.USR_SEQ = b.USR_SEQ
		WHERE 1=1
		<if test="userDTO.usrSeq != 0">
			AND a.USR_SEQ = #{userDTO.usrSeq}
		</if>
		<if test="userDTO.usrNm != '' and userDTO.usrNm != null">
			AND a.USR_NM like '%' || #{userDTO.usrNm} || '%'
		</if>
		<if test="userDTO.grCD != 0">
			AND a.GR_CD = #{userDTO.grCD}
		</if>
		<if test="userDTO.stCD != 0">
			AND a.ST_CD = #{userDTO.stCD}
		</if>
		<if test="userDTO.minDT != '' and userDTO.maxDT != ''">
			AND a.USR_IN_DT BETWEEN #{userDTO.minDT} AND #{userDTO.maxDT}
		</if>
		<if test="userDTO.minDT == '' and userDTO.maxDT != ''">
			AND a.USR_IN_DT <![CDATA[ <= ]]> #{userDTO.maxDT}
		</if>
		<if test="userDTO.minDT != '' and userDTO.maxDT == ''">
			AND a.USR_IN_DT <![CDATA[ >= ]]> #{userDTO.minDT}
		</if>
		ORDER BY a.USR_SEQ
		<if test="userDTO.skills != ''">
	    	) d
			ON c.USR_SEQ = d.USR_SEQ
			ORDER BY d.USR_SEQ
        </if>
	</select>
	
</mapper>